@media screen and (min-width: 768px) {
   .calculation-form {
    padding: 52px 30px 34px;

    .btn.btn-lg {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
   }
 
    .form-row {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }
}
