.footer {
	.container {
		display: flex;
	}

	h3 {
		margin-bottom: 14px;
	}

	a {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		color: #85899c;
		line-height: 170%;
	}
}

.footer_rectangle {
	margin: 34px auto;
	display: block;
}

.footer_logo {
	margin-bottom: 28px;
}

.footer_social {
	max-width: 263px;
	margin-right: 90px;
	font-size: 14px;
	line-height: 120%;
}

.footer_menu {
	display: flex;
	gap: 70px;
	max-width: 706px;
}
