<section>
    <div class="card">
        <div class="card_img-box" role="img" aria-label="Description of the overall image">
            <img src="./assets/img/delivery_5.png" class="card-img-top" alt="delivery">
            </div>
            <div class="card-body">
                <h5 class="card-title">Авто - обычная</h5>
                <ul class="card_options-list">
                    <li class="card_options-item">
                        <img src="./assets/img/calendar-icon.svg" alt="calendar-icon"> 9-15 дней
                  </li>
                    <li class="card_options-item">
                        <img src="./assets/img/box-icon.svg" alt="box-icon"> от 5 кг
                  </li>
                </ul>
                <div class="card_price">
                    <span>от</span>
                    <strong>2.5</strong>
                    <span>$/кг</span>
                </div>
                <div class="card_btn-row">
                    <a href="#" class="btn btn-primary">Оставить заявку</a>
                    <a href="#" class="btn btn-secondary">Подробнее</a>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="template-title">
                <h2>Готовы к сотрудничеству?</h2>
                <h3>Зарегистрируйте груз!</h3>
            </div>
            <div class="template-title">
                <h2>Готовы к сотрудничеству?</h2>
            </div>
        </div>
</section>
